.buttonLogReg{

  background-color: #5089fc; 

  border: 1px solid transparent;

  color: white;

  padding: 10px 20px;

  text-align: center;

  text-decoration: none;

  display: inline-block;

  font-size: 18px;

  border-radius: 30px;

  cursor: pointer;

  opacity: 0.9; 

  font-weight: bold;

}



.logRegForm {

  background-color: whitesmoke; 

  zoom:0.85;

  border: 100px solid whitesmoke;

  border-bottom: 300px solid whitesmoke;

  

}
  .logo{
    content: url(./login.png);
    width: 120px;
    height: 120px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }
  
  .registerLogo{

     content: url(../register/register.png); 
    width: 120px;
    height: 120px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;

  } 

  .error{
    color: #cf5757;
    font-size: 18px ;
    background: white;
    font-weight:bold ;
  }
  
  .login-form {
      background-color: #fff;
      margin: auto;
      padding: 50px 70px;
      border-top-left-radius: 30px;
      border-top-right-radius: 30px;
      border-bottom-right-radius: 30px;
      border-bottom-left-radius: 30px;
      box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
      width:500px ;
      height: 500px;
      text-align: center;
  }

  .register-form {
    background-color: #fff;
    margin: auto;
    padding: 50px 70px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
    width:500px ;
    height: 800px;
    text-align: center;
  }
  

  
  .form-group{
    background: white;
  }
  
  .login{
    background: white;
    color:#1a4292 ;
  
  }
  
  
  .login-form .form-icon{
      text-align: center;
      background-color: #5891ff;
      border-radius: 50%;
      font-size: 40px;
      color: white;
      width: 100px;
      height: 100px;
      margin: auto;
      margin-bottom: 50px;
      line-height: 100px;
  }
  
  .login-form .item{
    border-radius: 20px;
    margin-bottom: 25px;
    padding: 10px 20px;
  }

  .register-form .item{
    border-radius: 20px;
    margin-bottom: 25px;
    padding: 10px 20px;
  }
  
  
 
  .lbtn{
    background-color: #5089fc; 
    border: 1px solid transparent;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    border-radius: 30px;
    cursor: pointer;
    opacity: 0.9; 
    font-weight: bold;
  
  }
  
  .lang{
    position:absolute;
    top:0;
    right:0;
    margin-top: 80px;
    margin-right: 40px;
  }
  
  .lbtn:hover{
    opacity: 1;
    border: 1px solid rgb(52, 52, 158);

  }
  
  
  
  
  